.myText {
    font-family: 'Arial Rounded MT';
}
.navBarBg {
    background-color:blueviolet;
}

.nav-item:hover {
    font-size: 20px;
}

.hand-icon{
    cursor:pointer;
   
}

img {
    transition: all 0.5s ease;

}  
img:hover {
    transform: scale(1.2);
}

.card {
    transition: all 0.3s ease;
} 
    .card:hover {
        transform: scale(1.1);

    }

    .myReviewCard {
        width: 30rem;
        text-align: center;
    }
.myReviewImg {
    border-radius: 60%;
    height: 300px;
    width: 300px;
  margin-left:60px;
}

.FooterBg {
    background-color: blueviolet;
   font-size:14px;
}

.myList {
    list-style: none;
    padding:0px;
}